In [133]:
import pandas as pd
import openpyxl
import numpy as np
df = pd.read_excel('Lab Session1 Data.xlsx')
print(df.iloc[:,:5])

  Customer  Candies (#)  Mangoes (Kg)  Milk Packets (#)  Payment (Rs)
0      C_1           20             6                 2           386
1      C_2           16             3                 6           289
2      C_3           27             6                 2           393
3      C_4           19             1                 2           110
4      C_5           24             4                 2           280
5      C_6           22             1                 5           167
6      C_7           15             4                 2           271
7      C_8           18             4                 2           274
8      C_9           21             1                 4           148
9     C_10           16             2                 4           198

In [134]:
A=df.iloc[:,1:4]
print(f"MAtrix A is {A}")
C=df.iloc[:,4:5]
print(f"MAtric C is {C}")

MAtrix A is    Candies (#)  Mangoes (Kg)  Milk Packets (#)
0           20             6                 2
1           16             3                 6
2           27             6                 2
3           19             1                 2
4           24             4                 2
5           22             1                 5
6           15             4                 2
7           18             4                 2
8           21             1                 4
9           16             2                 4
MAtric C is    Payment (Rs)
0           386
1           289
2           393
3           110
4           280
5           167
6           271
7           274
8           148
9           198

In [135]:
dimension=A.shape[1]
print(f"Dimension of the vector space is {dimension}")

Dimension of the vector space is 3

In [136]:
vectors=A.shape[0]
print(f"No of vectors in the vector space is {vectors}")
rank = np.linalg.matrix_rank(A)
print(f"rank of matrix A is {rank}")

No of vectors in the vector space is 10
rank of matrix A is 3

In [137]:
Ainv=np.linalg.pinv(A, rcond=1e-15, hermitian=False)
print(Ainv)
X=np.dot(Ainv,C)
print(f"X vector is {X} ")

[[-0.01008596 -0.03124505  0.01013951  0.0290728   0.0182907   0.01161794
  -0.00771348  0.00095458  0.01743623 -0.00542016]
 [ 0.09059668  0.07263726  0.03172933 -0.09071908 -0.01893196 -0.06926996
   0.05675464  0.03152577 -0.07641966  0.00357352]
 [ 0.00299878  0.15874243 -0.05795468 -0.06609024 -0.06295043  0.03348017
   0.01541831 -0.01070461  0.00029003  0.05938755]]
X vector is [[ 1.]
 [55.]
 [18.]]

In [138]:

df['category'] = ['rich' if payment > 200 else 'poor' for payment in df['Payment (Rs)']]
print(df["category"])

0    rich
1    rich
2    rich
3    poor
4    rich
5    poor
6    rich
7    rich
8    poor
9    poor
Name: category, dtype: object

In [139]:
df1 = pd.read_excel('Lab Session1 Data.xlsx', sheet_name=1)
print(df1.iloc[:,:9])

             Date Month  Day    Price     Open     High      Low   Volume  \
0    Jun 29, 2021   Jun  Tue  2081.85  2092.00  2126.90  2065.05    1.67M
1    Jun 28, 2021   Jun  Mon  2077.75  2084.00  2112.45  2068.40  707.73K
2    Jun 25, 2021   Jun  Fri  2068.85  2084.35  2088.50  2053.10  475.82K
3    Jun 24, 2021   Jun  Thu  2072.95  2098.00  2098.00  2066.00  541.51K
4    Jun 23, 2021   Jun  Wed  2078.25  2102.00  2111.40  2072.00  809.62K
..            ...   ...  ...      ...      ...      ...      ...      ...
244  Jul 07, 2020   Jul  Tue  1397.40  1410.00  1411.00  1390.05  480.21K
245  Jul 06, 2020   Jul  Mon  1400.75  1405.50  1415.50  1394.00  614.93K
246  Jul 03, 2020   Jul  Fri  1405.10  1415.00  1425.00  1398.00  599.49K
247  Jul 02, 2020   Jul  Thu  1412.35  1440.00  1467.80  1395.30    2.16M
248  Jul 01, 2020   Jul  Wed  1363.05  1363.65  1377.00  1356.00  383.00K

       Chg%
0    0.0020
1    0.0043
2   -0.0020
3   -0.0026
4   -0.0023
..      ...
244 -0.0024
245 -0.0031
246 -0.0051
247  0.0362
248  0.0032

[249 rows x 9 columns]

In [142]:
import statistics
D=df1['Price'].mean()
print(f"Mean : {D}")
V=df1['Price'].var()
print(f"Variance : {V}")

Mean : 1560.6634538152612
Variance : 58732.36535253918

In [143]:
# Select the rows where the day of the week is Wednesday
wednesday_df = df1[df1['Day'] == 'Wed']
 
# Calculate the mean of the 'Price' column for these rows
wednesday_mean = wednesday_df['Price'].mean()
 
# Calculate the mean of the 'Price' column for all rows (population mean)
population_mean = df1['Price'].mean()
 
print('Wednesday Mean:', wednesday_mean)
print('Population Mean:', population_mean)

Wednesday Mean: 1550.7060000000001
Population Mean: 1560.6634538152612